.ticket {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.ticket__body {
  display: flex;
  align-items: center;
}

.ticket__description {
  margin-top: 10px;
}

.ticket__status {
  flex: 0 0 20px;
  position: relative;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid #c9cacc;
  margin-right: 10px;
}

.ticket__name {
  width: 100%;
  margin-right: 30px;
}

.ticket__created {
  flex: 0 0 130px;
  margin-right: 30px;
}

.ticket__edit,
.ticket__delete{
  flex: 0 0 20px;
  position: relative;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid #c9cacc;
  margin-right: 10px;
  cursor: pointer;
}

.ticket__edit-img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 3px;
  left: 4px;
  background-image: url('../img/icons/pencil.svg');
  background-repeat: no-repeat;
  background-size: 13px;
}

.ticket__delete-img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 3px;
  left: 3px;
  background-image: url('../img/icons/trash.svg');
  background-repeat: no-repeat;
  background-size: 15px;
}

.done {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-image: url('../img/icons/check.svg');
  background-repeat: no-repeat;
  background-size: 20px;
}
